In [87]:
import pandas as pd
import math
import importlib

In [88]:
df = pd.read_csv('buys_a_computer.csv')

In [89]:
df

    RID          age  income student credit_rating buys_computer
0     1        youth    high      no          fair            no
1     2        youth    high      no     excellent            no
2     3  middle_aged    high      no          fair           yes
3     4       senior  medium      no          fair           yes
4     5       senior     low     yes          fair           yes
5     6       senior     low     yes     excellent            no
6     7  middle_aged     low     yes     excellent           yes
7     8        youth  medium      no          fair            no
8     9        youth     low     yes          fair           yes
9    10       senior  medium     yes          fair           yes
10   11        youth  medium     yes     excellent           yes
11   12  middle_aged  medium      no     excellent           yes
12   13  middle_aged    high     yes          fair           yes
13   14       senior  medium      no     excellent            no

### Information required to classify a tuple in data D
#### - summation(p(i) * log2(p(i))) ...For i going from 1 to #classes

In [90]:
import decision_tree as dt

importlib.reload(dt)

In [93]:
report, info = dt.info_required_to_classify_a_tuple_in_data_D(df, 
                                                     label = 'buys_computer', 
                                                     rowid = 'RID')

In [94]:
report

  label  count  probability  p times logp
0    no      5         0.36     -0.530615
1   yes      9         0.64     -0.412068

In [95]:
info

0.9426831892554922

In [96]:
from sklearn.datasets import load_iris
data = load_iris()

In [98]:
df = pd.DataFrame(data.data, columns = data.feature_names)
df['target'] = data.target
df['RID'] = list(range(df.shape[0]))

In [103]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,RID
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,1
2,4.7,3.2,1.3,0.2,0,2
3,4.6,3.1,1.5,0.2,0,3
4,5.0,3.6,1.4,0.2,0,4

In [100]:
report, info = dt.info_required_to_classify_a_tuple_in_data_D(df, 
                                                     label = 'target', 
                                                     rowid = 'RID')

In [101]:
report

   label  count  probability  p times logp
0      0     50         0.33     -0.527822
1      1     50         0.33     -0.527822
2      2     50         0.33     -0.527822

In [102]:
info

1.5834674497121084

### Problem: How many bits of information is required to classify a tuple in this data?

In [104]:
df = pd.DataFrame(
    {
        'knows_bowling': ['yes', 'no', 'no', 'no', 'yes'],
        'knows_batting': ['no', 'yes', 'yes', 'yes', 'yes'],
        'knows_fielding': ['yes', 'yes', 'yes', 'yes', 'no'],
        'plays_cricket': ['yes', 'yes', 'yes', 'yes', 'yes']
    }
)

In [105]:
df

  knows_bowling knows_batting knows_fielding plays_cricket
0           yes            no            yes           yes
1            no           yes            yes           yes
2            no           yes            yes           yes
3            no           yes            yes           yes
4           yes           yes             no           yes

In [106]:
df['RID'] = list(range(df.shape[0]))

In [107]:
report, info = dt.info_required_to_classify_a_tuple_in_data_D(df, 
                                                     label = 'plays_cricket', 
                                                     rowid = 'RID')

In [108]:
report

  label  count  probability  p times logp
0   yes      5          1.0           0.0

In [109]:
info

-0.0