In [263]:
import pandas as pd
import math
import importlib

import decision_tree as dt
importlib.reload(dt)

In [269]:
from sklearn.datasets import load_iris
data = load_iris()

In [270]:
df = pd.DataFrame(data.data, columns = data.feature_names)
df['target'] = data.target
df['RID'] = list(range(df.shape[0]))

In [271]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,RID
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,1
2,4.7,3.2,1.3,0.2,0,2
3,4.6,3.1,1.5,0.2,0,3
4,5.0,3.6,1.4,0.2,0,4

In [272]:
report, info = dt.info_required_to_classify_a_tuple_in_data_D(df, 
                                                     label = 'target', 
                                                     rowid = 'RID')

In [273]:
report

   label  count  probability  p times logp
0      0     50         0.33     -0.527822
1      1     50         0.33     -0.527822
2      2     50         0.33     -0.527822

In [274]:
info # Measurement of information is in '# bits'.

1.5834674497121084

### Problem: How many bits of information is required to classify a tuple in this data?

In [275]:
df = pd.DataFrame(
    {
        'knows_bowling': ['yes', 'no', 'no', 'no', 'yes'],
        'knows_batting': ['no', 'yes', 'yes', 'yes', 'yes'],
        'knows_fielding': ['yes', 'yes', 'yes', 'yes', 'no'],
        'plays_cricket': ['yes', 'yes', 'yes', 'yes', 'yes']
    }
)

In [276]:
df

  knows_bowling knows_batting knows_fielding plays_cricket
0           yes            no            yes           yes
1            no           yes            yes           yes
2            no           yes            yes           yes
3            no           yes            yes           yes
4           yes           yes             no           yes

In [277]:
df['RID'] = list(range(df.shape[0]))

In [278]:
report, info = dt.info_required_to_classify_a_tuple_in_data_D(df, 
                                                     label = 'plays_cricket', 
                                                     rowid = 'RID')

In [279]:
report

  label  count  probability  p times logp
0   yes      5          1.0           0.0

In [280]:
info

-0.0

If we select an attribute to bisect the dataset and classify a tuple in one of the classes, we would still need some information.
It is not like that you just need to split on one attribute, you might need to further split of other attributes.

### If we select attribute A for partition, then the information we still need for classification is given by:

In [281]:
df_pc

    RID          age  income student credit_rating buys_computer
0     1        youth    high      no          fair            no
1     2        youth    high      no     excellent            no
2     3  middle_aged    high      no          fair           yes
3     4       senior  medium      no          fair           yes
4     5       senior     low     yes          fair           yes
5     6       senior     low     yes     excellent            no
6     7  middle_aged     low     yes     excellent           yes
7     8        youth  medium      no          fair            no
8     9        youth     low     yes          fair           yes
9    10       senior  medium     yes          fair           yes
10   11        youth  medium     yes     excellent           yes
11   12  middle_aged  medium      no     excellent           yes
12   13  middle_aged    high     yes          fair           yes
13   14       senior  medium      no     excellent            no

In [282]:
df_pc[df_pc['age'] == 'youth']

    RID    age  income student credit_rating buys_computer
0     1  youth    high      no          fair            no
1     2  youth    high      no     excellent            no
7     8  youth  medium      no          fair            no
8     9  youth     low     yes          fair           yes
10   11  youth  medium     yes     excellent           yes

### If I say I know where age == 'youth', does that immediately help in checking if the person buys a computer or not?

In [283]:
df_pc[df_pc['age'] == 'senior']

    RID     age  income student credit_rating buys_computer
3     4  senior  medium      no          fair           yes
4     5  senior     low     yes          fair           yes
5     6  senior     low     yes     excellent            no
9    10  senior  medium     yes          fair           yes
13   14  senior  medium      no     excellent            no

In [284]:
df_pc[df_pc['age'] == 'middle_aged']

    RID          age  income student credit_rating buys_computer
2     3  middle_aged    high      no          fair           yes
6     7  middle_aged     low     yes     excellent           yes
11   12  middle_aged  medium      no     excellent           yes
12   13  middle_aged    high     yes          fair           yes

### We still need more information that just a split on 'age'.

info_attr = summation( (#data(attr == j) / #data(all)) * info(data(attr == j)) )

where data(attr == j) represents number of rows in data when attr == j

# #data(attr == j) / #data(all)
Can also be interpreted as: probability of seeing a record where attr value is 'j'

In [285]:
df_pc['age'].unique()

array(['youth', 'middle_aged', 'senior'], dtype=object)

In [286]:
report, info_attr = dt.info_required_after_split_on_attr(df_pc, 'age', 'buys_computer')

In [287]:
report

          attr  data(attr == j) / data(all)  info  product of the two
0        youth                         0.36  0.97              0.3492
1  middle_aged                         0.29 -0.00             -0.0000
2       senior                         0.36  0.97              0.3492

In [288]:
print("Info required earlier for whole dataset was:", info_all)
print("Info required after we split on age:", info_attr)

Info required earlier for whole dataset was: 0.9426831892554922
Info required after we split on age: 0.698

In [289]:
print("Information gain if we split on age:", info_all - info_attr)

Information gain if we split on age: 0.24468318925549226

In [290]:
report, info_attr = dt.info_required_after_split_on_attr(df_pc, 'student', 'buys_computer')

In [291]:
report

  attr  data(attr == j) / data(all)  info  product of the two
0   no                          0.5  0.99               0.495
1  yes                          0.5  0.58               0.290

In [292]:
print("Info required earlier for whole dataset was:", info_all)
print("Info required after we split on student:", info_attr)

Info required earlier for whole dataset was: 0.9426831892554922
Info required after we split on student: 0.785

In [293]:
print("Information gain if we split on student:", info_all - info_attr)

Information gain if we split on student: 0.15768318925549218

In [300]:
report, info_attr = dt.info_required_after_split_on_attr(df_pc, 'income', 'buys_computer')

In [301]:
report

     attr  data(attr == j) / data(all)  info  product of the two
0    high                         0.29  1.00              0.2900
1  medium                         0.43  0.91              0.3913
2     low                         0.29  0.81              0.2349

In [302]:
print("Info required earlier for whole dataset was:", info_all)
print("Info required after we split on income:", info_attr)
print("Information gain if we split on income:", info_all - info_attr)

Info required earlier for whole dataset was: 0.9426831892554922
Info required after we split on income: 0.916
Information gain if we split on income: 0.02668318925549218

In [303]:
report, info_attr = dt.info_required_after_split_on_attr(df_pc, 'credit_rating', 'buys_computer')

In [304]:
print("Info required earlier for whole dataset was:", info_all)
print("Info required after we split on credit_rating:", info_attr)
print("Information gain if we split on credit_rating:", info_all - info_attr)

Info required earlier for whole dataset was: 0.9426831892554922
Info required after we split on credit_rating: 0.892
Information gain if we split on credit_rating: 0.0506831892554922

# We split on attribute which is giving us the highest information gain.