In [1]:
import statistics as st

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('marks.csv')

In [4]:
df

  subject  marks  mean  std
0    Sub1     70    60   15
1    Sub2     72    68    6

class statistics.NormalDist(mu=0.0, sigma=1.0)

Returns a new NormalDist object where mu represents the arithmetic mean and sigma represents the standard deviation.

zscore = (x - mean) / std

### Assuming there are 100K records in this kind of format. Then you would not go to fill z-score for these records. You will need something automated.

In [7]:
def get_zscore(in_row):
    return (in_row['marks'] - in_row['mean']) / in_row['std']

df['zscore'] = df.apply(get_zscore, axis = 1)

In [8]:
df

  subject  marks  mean  std    zscore
0    Sub1     70    60   15  0.666667
1    Sub2     72    68    6  0.666667

In [13]:
# How many std. away the data point is form the mean?
# This is given by zscore.
print((70-60)/15)
print((72-68)/6)

0.6666666666666666
0.6666666666666666

0.6666666666666666