In [1]:
import pandas as pd
import statsmodels as sm

In [2]:
df = pd.read_csv('student_marks.csv')

In [3]:
df

     Student  Marks1  Marks2  Marks3
0        Jim     280      70      60
1       Jack     200      60      55
2      Jones     270      40      30
3  Harshitha     250      55      46
4       Yaju     260      54      45
5      Sahaj     230      55      35

In [4]:
# Short summary
df['Marks1'].describe()

count      6.000000
mean     248.333333
std       29.268869
min      200.000000
25%      235.000000
50%      255.000000
75%      267.500000
max      280.000000
Name: Marks1, dtype: float64

In [5]:
import statsmodels.stats.descriptivestats as ds

In [6]:
# Long summary
desc_stats = ds.describe(df['Marks1'])
print("desc_stats using statsmodels : ", desc_stats)

desc_stats using statsmodels :                        Marks1
nobs                6.000000
missing             0.000000
mean              248.333333
std_err             4.878145
upper_ci          257.894321
lower_ci          238.772345
std                29.268869
iqr                32.500000
iqr_normal         24.092286
mad                22.222222
mad_normal         27.851425
coef_var            0.117861
range              80.000000
max               280.000000
min               200.000000
skew               -0.660190
kurtosis            2.228664
jarque_bera         0.584591
jarque_bera_pval    0.746548
mode              200.000000
mode_freq           0.166667
median            255.000000
1%                201.500000
5%                207.500000
10%               215.000000
25%               235.000000
50%               255.000000
75%               267.500000
90%               275.000000
95%               277.500000
99%               279.500000

/home/ashish/anaconda3/lib/python3.9/site-packages/statsmodels/stats/descriptivestats.py:418: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_res = stats.mode(ser.dropna())

class sklearn.preprocessing.MinMaxScaler(feature_range=(0, 1), *, copy=True, clip=False)

new_min: 0 (Default value as given by feature_range)
new_max: 1 (Default value)

In [7]:
marks_col = ['Marks1', 'Marks2', 'Marks3']
for i in marks_col:
    minmarks = df[i].describe().loc['min']
    maxmarks = df[i].describe().loc['max']
    print(i, minmarks, maxmarks)

Marks1 200.0 280.0
Marks2 40.0 70.0
Marks3 30.0 60.0

In [8]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()


scaled_marks = scaler.fit_transform(df[marks_col])
scaled_marks = pd.DataFrame(scaled_marks)

In [9]:
scaled_marks.columns = ['Scaled1', 'Scaled2', 'Scaled3']

In [10]:
scaled_marks

   Scaled1   Scaled2   Scaled3
0    1.000  1.000000  1.000000
1    0.000  0.666667  0.833333
2    0.875  0.000000  0.000000
3    0.625  0.500000  0.533333
4    0.750  0.466667  0.500000
5    0.375  0.500000  0.166667

>>> print(scaler.data_max_)
[ 1. 18.]
>>> print(scaler.transform(data))
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]
>>> print(scaler.transform([[2, 2]]))
[[1.5 0. ]]

# With outlier in data: MinMaxScaler squashes the other values

In [11]:
dfo = pd.read_csv('student_marks_outlier.csv')

In [12]:
dfo

     Student  Marks1  Marks2  Marks3
0          1     280      70      60
1          2     200      60      55
2          3     270      40      30
3  Harshitha     250      55      46
4       Yaju     260      54      45
5      Sahaj     230      55      35
6    Outlier    5000    5000    5000

In [13]:
scaled_marks = scaler.fit_transform(dfo[marks_col])
scaled_marks = pd.DataFrame(scaled_marks)

In [14]:
scaled_marks

          0         1         2
0  0.016667  0.006048  0.006036
1  0.000000  0.004032  0.005030
2  0.014583  0.000000  0.000000
3  0.010417  0.003024  0.003219
4  0.012500  0.002823  0.003018
5  0.006250  0.003024  0.001006
6  1.000000  1.000000  1.000000

# Thing to remember: Do not use MinMaxScaler on data with outliers.