In [2]:
import pandas as pd

In [3]:
l = [5, 10, 11, 13, 15, 35, 50, 55, 72, 92, 204, 215]

In [4]:
s = pd.Series(l)

In [5]:
s.nunique()

12

In [6]:
bins = pd.qcut(s, 4) # Equal frequency binning

# How do we make data smooth using mean?

In [7]:
df = pd.DataFrame(
    {
        'data': l,
        'bins': bins
    }
)

In [8]:
df

    data           bins
0      5  (4.999, 12.5]
1     10  (4.999, 12.5]
2     11  (4.999, 12.5]
3     13   (12.5, 42.5]
4     15   (12.5, 42.5]
5     35   (12.5, 42.5]
6     50   (42.5, 77.0]
7     55   (42.5, 77.0]
8     72   (42.5, 77.0]
9     92  (77.0, 215.0]
10   204  (77.0, 215.0]
11   215  (77.0, 215.0]

In [9]:
t = df.groupby(['bins']).mean(['data'])

In [20]:
map_of_mean_values = {}
for i in t.iterrows():
    map_of_mean_values.update({str(i[0]): i[1][0]})

In [21]:
map_of_mean_values

{'(4.999, 12.5]': 8.666666666666666,
 '(12.5, 42.5]': 21.0,
 '(42.5, 77.0]': 59.0,
 '(77.0, 215.0]': 170.33333333333334}

In [22]:
df['bins'] = df['bins'].astype(str)

In [23]:
df[df['bins'] == '(4.999, 12.5]']

   data           bins
0     5  (4.999, 12.5]
1    10  (4.999, 12.5]
2    11  (4.999, 12.5]

In [26]:
df['smoothed_values'] = df['bins'].apply(lambda x: map_of_mean_values[x])

In [27]:
df

    data           bins  smoothed_values
0      5  (4.999, 12.5]         8.666667
1     10  (4.999, 12.5]         8.666667
2     11  (4.999, 12.5]         8.666667
3     13   (12.5, 42.5]        21.000000
4     15   (12.5, 42.5]        21.000000
5     35   (12.5, 42.5]        21.000000
6     50   (42.5, 77.0]        59.000000
7     55   (42.5, 77.0]        59.000000
8     72   (42.5, 77.0]        59.000000
9     92  (77.0, 215.0]       170.333333
10   204  (77.0, 215.0]       170.333333
11   215  (77.0, 215.0]       170.333333